*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: system-ui;
}

.container {
    background-image: linear-gradient(to bottom right, blue, black);   
    border: 7px ridge #BBB;
    border-radius: 7px;
    color: #FFF;
    padding: 7%;
    width: 100%;
}

.character-card {
    margin: 3rem 0;
    /* display: flex; */
    /* flex-direction: column; */
}

.character-img-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.character-img {
    width: 175px;
    width: 50%;
    box-shadow: 2px 2px 4px #000000;
}

h2,
p,
li {
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    font-size: 1.3rem;
}

.stat-num {
    padding-left: 1rem;
}

p {
    font-size: 24px;
    font-size: 1.5rem;
}

.text-highlight {
    color: #00CED1;
    font-size: 1.5rem;
}

.char-lvl,
.char-hp,
.char-mp {
    margin: 0;
}

.char-hp-bar,
.char-mp-bar {
    height: 3px;
    width: 83%;
    padding-right: 1rem;
    align-self: flex-end;
    box-shadow: 2px 2px 4px #000000;
}

.char-hp-bar {background-image: linear-gradient(to bottom right, blue, #FFF);}
.char-mp-bar {background-image: linear-gradient(to bottom right, green, #FFF);}

.char-next-level-bar,
.char-limit-level-bar {
    background-color: #555;
    border: 7px ridge #BBB;
    height: 1.7rem;
    margin-left: 1rem;
    box-shadow: 2px 2px 4px #000000,
    inset 0 0 10px #000;
}

.bar-fill {
    color: hotpink;
    height: 100%;
    width: 40%;
    background-color: pink;
    background-image: linear-gradient(deepPink, lightPink, hotPink);
    box-shadow: inset 2px 2px 4px #000000;
}

/* -------------------------------- */

.header {
    position: sticky;
    top: 0;
}

.menu {
    position: relative;
}

.nav {
    padding: .5rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-div {
    display: flex;
}

.logo-img {
    width: 40%;
}

.hamburger {
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    color: linear-gradient(to bottom right, green, #FFF);
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hamburger-img {
    width: 20%;
    cursor: pointer;
}

.menu__list {
    font-size: 1.3rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 70%;
    right: 0;
}

.item-link {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding: 0 .5rem;
}

.menu__list.active {
    display: flex;
}

.menu-item + .menu-item {
    padding: .2rem 0;
}

.footer {
    padding: 1rem 7%;
}

@media only screen and (min-width: 800px) {

    /* body {
        flex-grow: 1;
        display: grid;
        place-items: center;
        grid-template-columns: repeat()
    } */

    .character-card {
        display: flex;
        flex-direction: row;
    }

    .character-img-div {
        width: 100%;
        justify-content: flex-start;
    }

    .character-info-div {
        width: 100%;
    }

    .character-levels-div {
        width: 100%;
    }

}
